/*
*这是样式表1
*清除掉浏览器原本的body样式。
*margin:0px;
*padding:0px;
*/
body{
    margin:0px;
    padding:0px;
}


header{
    float: left;
    height:850px;
    padding:50px;
    background:rgb(95, 157, 238);
    color:white;
}

.content{
    float: left;
    padding:35px;
}


* 这是外包裹层，相当于简历中的A4纸张 */
.wrap{
    padding:50px;
    border:1px solid rgb(153, 151, 151);
    width:50%;
}

.contact>p>span,.bascInfo>p>span{
    padding-right:30px;
}

.contact>p>span>strong,.bascInfo>p>span>strong{
    padding-right:8px;
}

h3{
    height:10px;
}
section{
    border-bottom: 1px solid rgb(146, 144, 144);
}
header{
    margin-top:-30px;
}




